In [22]:
import numpy as np

scores = np.random.randint(50, 101,size=(50, 5))
scores

array([[ 97, 100,  57,  51,  73],
       [ 94,  83,  62,  57,  88],
       [ 60,  73,  98,  89,  53],
       [ 57,  90,  68,  87,  83],
       [ 68,  85,  94,  91,  71],
       [ 51,  53,  70,  79,  92],
       [ 51,  99,  83,  53,  95],
       [100,  77,  74,  77,  86],
       [ 51,  68,  84,  96,  87],
       [ 75,  90,  51,  77,  99],
       [ 52,  79,  94,  65,  50],
       [ 92,  78,  62,  93,  64],
       [ 95,  86,  75,  85,  78],
       [ 65,  52,  81,  96,  76],
       [ 53,  96,  64,  79,  83],
       [ 63, 100,  55,  96,  81],
       [ 85,  90,  57,  69,  82],
       [ 53,  91,  58,  90,  80],
       [ 52,  59,  98,  56,  91],
       [ 70, 100,  94,  63, 100],
       [ 80,  65,  96,  56,  88],
       [ 91,  76,  86,  66,  55],
       [ 57,  85,  57,  90,  76],
       [ 75,  79,  75,  69,  60],
       [ 69,  68,  64,  65,  97],
       [ 67,  53,  60,  72,  70],
       [ 86,  67,  56,  88,  99],
       [ 64,  87,  75,  56,  68],
       [ 92,  64,  50,  98,  96],
       [ 63,  78,  93,  59,  68],
       [ 55,  60,  72,  67,  50],
       [ 85,  97,  92,  63,  86],
       [ 69,  99,  96,  85,  53],
       [ 55,  86,  86,  54,  93],
       [ 91,  60,  52, 100,  80],
       [ 77,  88,  92,  75,  95],
       [ 73,  98,  87,  55,  98],
       [ 88,  74,  99,  60,  56],
       [ 75,  92,  63,  59,  72],
       [ 53,  90,  92,  74,  55],
       [ 59,  58,  60,  65,  94],
       [ 84,  85,  96,  98,  68],
       [ 72,  96,  70,  71,  60],
       [ 60,  86,  98,  94,  76],
       [ 53,  52,  65,  83,  67],
       [ 56,  91,  85,  84,  63],
       [ 90,  98,  67,  81,  76],
       [ 62,  92,  57,  98,  56],
       [ 82,  62,  80,  51,  94],
       [ 80,  94,  53,  75,  57]])

In [23]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文","英文","數學","地理","歷史"]
)
df

       國文   英文  數學   地理   歷史
學生1    97  100  57   51   73
學生2    94   83  62   57   88
學生3    60   73  98   89   53
學生4    57   90  68   87   83
學生5    68   85  94   91   71
學生6    51   53  70   79   92
學生7    51   99  83   53   95
學生8   100   77  74   77   86
學生9    51   68  84   96   87
學生10   75   90  51   77   99
學生11   52   79  94   65   50
學生12   92   78  62   93   64
學生13   95   86  75   85   78
學生14   65   52  81   96   76
學生15   53   96  64   79   83
學生16   63  100  55   96   81
學生17   85   90  57   69   82
學生18   53   91  58   90   80
學生19   52   59  98   56   91
學生20   70  100  94   63  100
學生21   80   65  96   56   88
學生22   91   76  86   66   55
學生23   57   85  57   90   76
學生24   75   79  75   69   60
學生25   69   68  64   65   97
學生26   67   53  60   72   70
學生27   86   67  56   88   99
學生28   64   87  75   56   68
學生29   92   64  50   98   96
學生30   63   78  93   59   68
學生31   55   60  72   67   50
學生32   85   97  92   63   86
學生33   69   99  96   85   53
學生34   55   86  86   54   93
學生35   91   60  52  100   80
學生36   77   88  92   75   95
學生37   73   98  87   55   98
學生38   88   74  99   60   56
學生39   75   92  63   59   72
學生40   53   90  92   74   55
學生41   59   58  60   65   94
學生42   84   85  96   98   68
學生43   72   96  70   71   60
學生44   60   86  98   94   76
學生45   53   52  65   83   67
學生46   56   91  85   84   63
學生47   90   98  67   81   76
學生48   62   92  57   98   56
學生49   82   62  80   51   94
學生50   80   94  53   75   57

In [24]:
#透過欄的選取

df["國文"]
df["英文"]
df[["國文","英文"]]

       國文   英文
學生1    97  100
學生2    94   83
學生3    60   73
學生4    57   90
學生5    68   85
學生6    51   53
學生7    51   99
學生8   100   77
學生9    51   68
學生10   75   90
學生11   52   79
學生12   92   78
學生13   95   86
學生14   65   52
學生15   53   96
學生16   63  100
學生17   85   90
學生18   53   91
學生19   52   59
學生20   70  100
學生21   80   65
學生22   91   76
學生23   57   85
學生24   75   79
學生25   69   68
學生26   67   53
學生27   86   67
學生28   64   87
學生29   92   64
學生30   63   78
學生31   55   60
學生32   85   97
學生33   69   99
學生34   55   86
學生35   91   60
學生36   77   88
學生37   73   98
學生38   88   74
學生39   75   92
學生40   53   90
學生41   59   58
學生42   84   85
學生43   72   96
學生44   60   86
學生45   53   52
學生46   56   91
學生47   90   98
學生48   62   92
學生49   82   62
學生50   80   94

In [25]:
#透過index的名稱選取
df.loc["學生1"]
df.loc[["學生1","學生2"]]

     國文   英文  數學  地理  歷史
學生1  97  100  57  51  73
學生2  94   83  62  57  88

In [26]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,1]]

     國文   英文  數學  地理  歷史
學生1  97  100  57  51  73
學生2  94   83  62  57  88

In [27]:
df.iloc[:5]
df.iloc[-5:]

      國文  英文  數學  地理  歷史
學生46  56  91  85  84  63
學生47  90  98  67  81  76
學生48  62  92  57  98  56
學生49  82  62  80  51  94
學生50  80  94  53  75  57

In [28]:
df

       國文   英文  數學   地理   歷史
學生1    97  100  57   51   73
學生2    94   83  62   57   88
學生3    60   73  98   89   53
學生4    57   90  68   87   83
學生5    68   85  94   91   71
學生6    51   53  70   79   92
學生7    51   99  83   53   95
學生8   100   77  74   77   86
學生9    51   68  84   96   87
學生10   75   90  51   77   99
學生11   52   79  94   65   50
學生12   92   78  62   93   64
學生13   95   86  75   85   78
學生14   65   52  81   96   76
學生15   53   96  64   79   83
學生16   63  100  55   96   81
學生17   85   90  57   69   82
學生18   53   91  58   90   80
學生19   52   59  98   56   91
學生20   70  100  94   63  100
學生21   80   65  96   56   88
學生22   91   76  86   66   55
學生23   57   85  57   90   76
學生24   75   79  75   69   60
學生25   69   68  64   65   97
學生26   67   53  60   72   70
學生27   86   67  56   88   99
學生28   64   87  75   56   68
學生29   92   64  50   98   96
學生30   63   78  93   59   68
學生31   55   60  72   67   50
學生32   85   97  92   63   86
學生33   69   99  96   85   53
學生34   55   86  86   54   93
學生35   91   60  52  100   80
學生36   77   88  92   75   95
學生37   73   98  87   55   98
學生38   88   74  99   60   56
學生39   75   92  63   59   72
學生40   53   90  92   74   55
學生41   59   58  60   65   94
學生42   84   85  96   98   68
學生43   72   96  70   71   60
學生44   60   86  98   94   76
學生45   53   52  65   83   67
學生46   56   91  85   84   63
學生47   90   98  67   81   76
學生48   62   92  57   98   56
學生49   82   62  80   51   94
學生50   80   94  53   75   57

In [ ]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [30]:
df["總分"] = total
df["平均"] = mean

In [35]:
five_df = df.iloc[:5]
five_df[five_df["總分"] >= 380]

     國文  英文  數學  地理  歷史   總分    平均
學生2  94  83  62  57  88  384  76.8
學生4  57  90  68  87  83  385  77.0
學生5  68  85  94  91  71  409  81.8

In [37]:
df[df['總分'] >= 380]

       國文   英文  數學   地理   歷史   總分    平均
學生2    94   83  62   57   88  384  76.8
學生4    57   90  68   87   83  385  77.0
學生5    68   85  94   91   71  409  81.8
學生7    51   99  83   53   95  381  76.2
學生8   100   77  74   77   86  414  82.8
學生9    51   68  84   96   87  386  77.2
學生10   75   90  51   77   99  392  78.4
學生12   92   78  62   93   64  389  77.8
學生13   95   86  75   85   78  419  83.8
學生16   63  100  55   96   81  395  79.0
學生17   85   90  57   69   82  383  76.6
學生20   70  100  94   63  100  427  85.4
學生21   80   65  96   56   88  385  77.0
學生27   86   67  56   88   99  396  79.2
學生29   92   64  50   98   96  400  80.0
學生32   85   97  92   63   86  423  84.6
學生33   69   99  96   85   53  402  80.4
學生35   91   60  52  100   80  383  76.6
學生36   77   88  92   75   95  427  85.4
學生37   73   98  87   55   98  411  82.2
學生42   84   85  96   98   68  431  86.2
學生44   60   86  98   94   76  414  82.8
學生47   90   98  67   81   76  412  82.4