In [1]:
import pandas as pd
from pathlib import Path

current_dir = Path.cwd()
# 若 CSV 與此 notebook 同資料夾
csv_path = current_dir / "台鐵車站資訊.csv"
stations_df = pd.read_csv(csv_path)
#display(stations_df.head())
stations_df = stations_df.reindex(columns=["stationCode", "stationName"])

#欄位名稱更改為[車站代碼, 車站名稱]
stations_df.columns = ["車站代碼", "車站名稱"]
stations_df

     車站代碼 車站名稱
0     900   基隆
1     910   三坑
2     920   八堵
3     930   七堵
4     940   百福
..    ...  ...
238  7360   瑞芳
239  7361  海科館
240  7362  八斗子
241  7380  四腳亭
242  7390   暖暖

[243 rows x 2 columns]

In [2]:
current_dir = Path.cwd()
# 若 CSV 與此 notebook 同資料夾
csv_path = current_dir / "每日各站進出站人數/每日各站進出站人數2020.csv"
year_df = pd.read_csv(csv_path)
year_df.columns = ["日期", "車站代碼", "進站人數", "出站人數"]
display(year_df.head())
#日期欄位目前是int64, 需要轉換為datetime格式
year_df["日期"] = pd.to_datetime(year_df["日期"], format="%Y%m%d")
year_df.info()

         日期  車站代碼  進站人數  出站人數
0  20200101   900  7552  8154
1  20200101   910  1020  1135
2  20200101   920  1623  1972
3  20200101   930  4130  4813
4  20200101   940  1818  2128

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86932 entries, 0 to 86931
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      86932 non-null  datetime64[ns]
 1   車站代碼    86932 non-null  int64
 2   進站人數    86932 non-null  int64
 3   出站人數    86932 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 2.7 MB

In [4]:
merged_df_2020= pd.merge(year_df, stations_df, on="車站代碼")
merged_df_2020 = merged_df_2020.reindex(columns=["日期","車站名稱","進站人數","出站人數"])
merged_df_2020.head()
#將欄位:日期,變為index
merged_df_2020.set_index("日期", inplace=True)

In [14]:
df1 = merged_df_2020.groupby("車站名稱")[['進站人數','出站人數']].agg([('平均','mean'),('標準差','std')])
df1

             進站人數                      出站人數
               平均          標準差           平均          標準差
車站名稱
七堵    5528.620219  1072.534862  5615.961749  1112.055852
三坑    1248.748634   191.346626  1273.907104   189.582937
三塊厝    402.631148    83.453690   437.969945   105.521726
三姓橋   1055.491803   292.292195   944.442623   179.440335
三民       7.508197     4.774210    11.377049     6.260108
...           ...          ...          ...          ...
鼓山     198.890710    38.685229   206.655738    36.720217
龍井     354.051913    97.176298   344.887978   131.588591
龍泉      15.920765    10.731429    18.333333    18.995553
龍港      15.248634     7.347420    20.464481     9.331202
龜山      91.980874    23.404769    88.322404    24.498698

[239 rows x 4 columns]